/* LIGHT MODE */
:root {
  /* TEXT */
  --text-primary: #101828;
  --text-primary_on-brand: #ffffff;
  --text-secondary: #344054;
  --text-secondary_hover: #182230;
  --text-secondary_on-brand: #b2ddff;
  --text-tertiary: #475467;
  --text-tertiary_hover: #344054;
  --text-tertiary_on-brand: #b2ddff;
  --text-quaternary: #667085;
  --text-quaternary_on-brand: #84caff;
  --text-white: #ffffff;
  --text-disabled: #667085;
  --text-placeholder: #667085;
  --text-placeholder_subtle: #d0d5dd;
  --text-brand-primary: #194185;
  --text-brand-secondary: #175cd3;
  --text-brand-tertiary: #1570ef;
  --text-brand-tertiary_alt: #1570ef;
  --text-error-primary: #d92d20;
  --text-warning-primary: #dc6803;
  --text-success-primary: #079455;

  /* BORDER */
  --border-primary: #d0d5dd;
  --border-secondary: #eaecf0;
  --border-tertiary: #f2f4f7;
  --border-disabled: #d0d5dd;
  --border-disabled_subtle: #e4e7ec;
  --border-brand: #2e90fa;
  --border-brand_alt: #1570ef;
  --border-error: #f04438;
  --border-error_subtle: #fda29b;
  --border-popup: #ffffff;

  /* FOREGROUND */
  --fg-primary: #101828;
  --fg-secondary: #344054;
  --fg-secondary_hover: #182230;
  --fg-tertiary: #475467;
  --fg-tertiary_hover: #344054;
  --fg-quaternary: #667085;
  --fg-quaternary_hover: #475467;
  --fg-quinary: #98a2b3;
  --fg-quinary_hover: #667085;
  --fg-senary: #d0d5dd;
  --fg-white: #ffffff;
  --fg-disabled: #98a2b3;
  --fg-disabled_subtle: #d0d5dd;
  --fg-brand-primary: #1570ef;
  --fg-brand-primary_alt: #1570ef;
  --fg-brand-secondary: #2e90fa;
  --fg-error-primary: #d92d20;
  --fg-error-secondary: #f04438;
  --fg-warning-primary: #dc6803;
  --fg-warning-secondary: #f79009;
  --fg-success-primary: #079455;
  --fg-success-secondary: #17b26a;

  /* BACKGROUND */
  --bg-primary: #ffffff;
  --bg-primary_alt: #ffffff;
  --bg-primary_hover: #f9fafb;
  --bg-primary-solid: #0c111d;
  --bg-secondary: #f9fafb;
  --bg-secondary_alt: #f9fafb;
  --bg-secondary_hover: #f2f4f7;
  --bg-secondary_subtle: #fcfcfd;
  --bg-secondary-solid: #475467;
  --bg-tertiary: #f2f4f7;
  --bg-quaternary: #e4e7ec;
  --bg-active: #f9fafb;
  --bg-disabled: #f2f4f7;
  --bg-disabled_subtle: #f2f4f7;
  --bg-overlay: #0c111d;
  --bg-brand-primary: #eff8ff;
  --bg-brand-primary_alt: #eff8ff;
  --bg-brand-secondary: #d1e9ff;
  --bg-brand-solid: #1570ef;
  --bg-brand-solid_hover: #175cd3;
  --bg-brand-section: #175cd3;
  --bg-brand-section_subtle: #175cd3;
  --bg-error-primary: #fef3f2;
  --bg-error-secondary: #fee4e2;
  --bg-error-solid: #d92d20;
  --bg-warning-primary: #fffaeb;
  --bg-warning-secondary: #fef0c7;
  --bg-warning-solid: #dc6803;
  --bg-success-primary: #ecfdf3;
  --bg-success-secondary: #dcfae6;
  --bg-success-solid: #079455;

  /* BUTTON */
  --button-primary-bg: #1570ef;
  --button-primary-bg_hover: #175cd3;
  --button-primary-bg_disabled: #f2f4f7;
  --button-primary-fg: #ffffff;

  --button-secondary-bg: #ffffff;
  --button-secondary-bg_hover: #f9fafb;
  --button-secondary-bg_disabled: #ffffff;
  --button-secondary-fg: #344054;
  --button-secondary-border: #d0d5dd;

  --button-secondary-color-bg: #ffffff;
  --button-secondary-color-bg_hover: #eff8ff;
  --button-secondary-color-bg_disabled: #ffffff;
  --button-secondary-color-fg: #175cd3;
  --button-secondary-color-border: #84caff;

  --button-primary-error-bg: #d92d20;
  --button-primary-error-bg_hover: #b42318;
  --button-primary-error-bg_disabled: #f2f4f7;
  --button-primary-error-fg: #ffffff;

  --button-secondary-error-bg: #ffffff;
  --button-secondary-error-bg_hover: #fef3f2;
  --button-secondary-error-bg_disabled: #ffffff;
  --button-secondary-error-fg: #b42318;
  --button-secondary-error-border: #fda29b;

  --button-tertiary-color-fg: #175cd3;

  --button-fg_disabled: #98a2b3;
  --button-border_disabled: #e4e7ec;
  --button-tertiary-fg: #475467;

  --button-tertiary-fg: #475467;
  --button-tertiary-fg_hover: #344054;
  --button-tertiary-bg_hover: #f9fafb;

  --button-tertiary-color-fg: #175cd3;
  --button-tertiary-color-fg_hover: #1849a9;
  --button-tertiary-color-bg_hover: #eff8ff;

  --button-tertiary-error-fg: #b42318;
  --button-tertiary-error-fg_hover: #912018;
  --button-tertiary-error-bg_hover: #fef3f2;

  --button-secondary-success-bg: #ffffff;
  --button-secondary-success-bg_hover: #f0fdf4;
  --button-secondary-success-bg_disabled: #ffffff;
  --button-secondary-success-fg: #15803d;
  --button-secondary-success-border: #86efac;

  /* ALPHA COLORS */
  --alpha-white-10: rgba(255, 255, 255, 0.1);
  --alpha-white-20: rgba(255, 255, 255, 0.2);
  --alpha-white-30: rgba(255, 255, 255, 0.3);
  --alpha-white-40: rgba(255, 255, 255, 0.4);
  --alpha-white-50: rgba(255, 255, 255, 0.5);
  --alpha-white-60: rgba(255, 255, 255, 0.6);
  --alpha-white-70: rgba(255, 255, 255, 0.7);
  --alpha-white-80: rgba(255, 255, 255, 0.8);
  --alpha-white-90: rgba(255, 255, 255, 0.9);
  --alpha-white-100: rgba(255, 255, 255, 1);
  --alpha-black-10: rgba(0, 0, 0, 0.1);
  --alpha-black-20: rgba(0, 0, 0, 0.2);
  --alpha-black-30: rgba(0, 0, 0, 0.3);
  --alpha-black-40: rgba(0, 0, 0, 0.4);
  --alpha-black-50: rgba(0, 0, 0, 0.5);
  --alpha-black-60: rgba(0, 0, 0, 0.6);
  --alpha-black-70: rgba(0, 0, 0, 0.7);
  --alpha-black-80: rgba(0, 0, 0, 0.8);
  --alpha-black-90: rgba(0, 0, 0, 0.9);
  --alpha-black-100: rgba(0, 0, 0, 1);

  /* UTILITY COLORS */
  --utility-gray-50: #f9fafb;
  --utility-gray-100: #f2f4f7;
  --utility-gray-200: #e4e7ec;
  --utility-gray-300: #d0d5dd;
  --utility-gray-400: #98a2b3;
  --utility-gray-500: #667085;
  --utility-gray-600: #475467;
  --utility-gray-700: #344054;
  --utility-gray-800: #182230;
  --utility-gray-900: #101828;

  --utility-brand-50: #eff8ff;
  --utility-brand-50_alt: #eff8ff;
  --utility-brand-100: #d1e9ff;
  --utility-brand-100_alt: #d1e9ff;
  --utility-brand-200: #b2ddff;
  --utility-brand-200_alt: #b2ddff;
  --utility-brand-300: #84caff;
  --utility-brand-300_alt: #84caff;
  --utility-brand-400: #53b1fd;
  --utility-brand-400_alt: #53b1fd;
  --utility-brand-500: #2e90fa;
  --utility-brand-500_alt: #2e90fa;
  --utility-brand-600: #1570ef;
  --utility-brand-600_alt: #1570ef;
  --utility-brand-700: #175cd3;
  --utility-brand-700_alt: #175cd3;
  --utility-brand-800: #1849a9;
  --utility-brand-800_alt: #1849a9;
  --utility-brand-900: #194185;
  --utility-brand-900_alt: #194185;

  --utility-error-50: #fef3f2;
  --utility-error-100: #fee4e2;
  --utility-error-200: #fecdca;
  --utility-error-300: #fda29b;
  --utility-error-400: #f97066;
  --utility-error-500: #f04438;
  --utility-error-600: #d92d20;
  --utility-error-700: #b42318;
  --utility-error: #f04438;

  --utility-warning-50: #fffaeb;
  --utility-warning-100: #fef0c7;
  --utility-warning-200: #fedf89;
  --utility-warning-300: #fec84b;
  --utility-warning-400: #fdb022;
  --utility-warning-500: #f79009;
  --utility-warning-600: #dc6803;
  --utility-warning-700: #b54708;

  --utility-success-50: #ecfdf3;
  --utility-success-100: #dcfae6;
  --utility-success-200: #abefc6;
  --utility-success-300: #75e0a7;
  --utility-success-400: #47cd89;
  --utility-success-500: #17b26a;
  --utility-success-600: #079455;
  --utility-success-700: #067647;

  --utility-gray-blue-50: #f8f9fc;
  --utility-gray-blue-100: #eaecf5;
  --utility-gray-blue-200: #d5d9eb;
  --utility-gray-blue-300: #b3b8db;
  --utility-gray-blue-400: #717bbc;
  --utility-gray-blue-500: #4e5ba6;
  --utility-gray-blue-600: #3e4784;
  --utility-gray-blue-700: #363f72;

  --utility-blue-light-50: #f0f9ff;
  --utility-blue-light-100: #e0f2fe;
  --utility-blue-light-200: #b9e6fe;
  --utility-blue-light-300: #7cd4fd;
  --utility-blue-light-400: #36bffa;
  --utility-blue-light-500: #0ba5ec;
  --utility-blue-light-600: #0086c9;
  --utility-blue-light-700: #026aa2;

  --utility-blue-50: #eff8ff;
  --utility-blue-100: #d1e9ff;
  --utility-blue-200: #b2ddff;
  --utility-blue-300: #84caff;
  --utility-blue-400: #53b1fd;
  --utility-blue-500: #2e90fa;
  --utility-blue-600: #1570ef;
  --utility-blue-700: #175cd3;

  --utility-blue-dark-50: #eff4ff;
  --utility-blue-dark-100: #d1e0ff;
  --utility-blue-dark-200: #b2ccff;
  --utility-blue-dark-300: #84adff;
  --utility-blue-dark-400: #528bff;
  --utility-blue-dark-500: #2970ff;
  --utility-blue-dark-600: #155eef;
  --utility-blue-dark-700: #004eeb;

  --utility-indigo-50: #eef4ff;
  --utility-indigo-100: #e0eaff;
  --utility-indigo-200: #c7d7fe;
  --utility-indigo-300: #a4bcfd;
  --utility-indigo-400: #8098f9;
  --utility-indigo-500: #6172f3;
  --utility-indigo-600: #444ce7;
  --utility-indigo-700: #3538cd;

  --utility-purple-50: #f4f3ff;
  --utility-purple-100: #ebe9fe;
  --utility-purple-200: #d9d6fe;
  --utility-purple-300: #bdb4fe;
  --utility-purple-400: #9b8afb;
  --utility-purple-500: #7a5af8;
  --utility-purple-600: #6938ef;
  --utility-purple-700: #5925dc;

  --utility-fuchsia-50: #fdf4ff;
  --utility-fuchsia-100: #fbe8ff;
  --utility-fuchsia-200: #f6d0fe;
  --utility-fuchsia-300: #eeaafd;
  --utility-fuchsia-400: #e478fa;
  --utility-fuchsia-500: #d444f1;
  --utility-fuchsia-600: #ba24d5;
  --utility-fuchsia-700: #9f1ab1;

  --utility-pink-50: #fdf2fa;
  --utility-pink-100: #fce7f6;
  --utility-pink-200: #fcceee;
  --utility-pink-300: #faa7e0;
  --utility-pink-400: #f670c7;
  --utility-pink-500: #ee46bc;
  --utility-pink-600: #dd2590;
  --utility-pink-700: #c11574;

  --utility-orange-dark-50: #fff4ed;
  --utility-orange-dark-100: #ffe6d5;
  --utility-orange-dark-200: #ffd6ae;
  --utility-orange-dark-300: #ff9c66;
  --utility-orange-dark-400: #ff692e;
  --utility-orange-dark-500: #ff4405;
  --utility-orange-dark-600: #e62e05;
  --utility-orange-dark-700: #bc1b06;

  --utility-orange-50: #fef6ee;
  --utility-orange-100: #fdead7;
  --utility-orange-200: #f9dbaf;
  --utility-orange-300: #f7b27a;
  --utility-orange-400: #f38744;
  --utility-orange-500: #ef6820;
  --utility-orange-600: #e04f16;
  --utility-orange-700: #b93815;
}

[font-size="md"] {
  --text-xs: 0.75rem; /* 12px */
  --line-height-xs: 1.125rem; /* 18px */
  --text-sm: 0.875rem; /* 14px */
  --line-height-sm: 1.25rem; /* 20px */
  --text-base: 1rem; /* 16px */
  --line-height-base: 1.5rem; /* 24px */
  --text-md: 1rem; /* 16px */
  --line-height-md: 1.5rem; /* 24px */
  --text-lg: 1.125rem; /* 18px */
  --line-height-lg: 1.75rem; /* 28px */
  --text-xl: 1.25rem; /* 20px */
  --line-height-xl: 1.875rem; /* 30px */
  --text-display-xs: 1.5rem; /* 24px */
  --line-height-display-xs: 2rem; /* 32px */
  --text-display-sm: 1.875rem; /* 30px */
  --line-height-display-sm: 2.375rem; /* 38px */
  --text-display-md: 2.25rem; /* 36px */
  --line-height-display-md: 2.75rem; /* 44px */
  --text-display-lg: 3rem; /* 48px */
  --line-height-display-lg: 3.75rem; /* 60px */
  --text-display-xl: 3.75rem; /* 60px */
  --line-height-display-xl: 4.5rem; /* 72px */
  --text-display-2xl: 4.5rem; /* 72px */
  --line-height-display-2xl: 5.625rem; /* 90px */
}

[font-size="lg"] {
  --text-xs: 0.875rem; /* 14px */
  --line-height-xs: 1.25rem; /* 20px */
  --text-sm: 1rem; /* 16px */
  --line-height-sm: 1.5rem; /* 24px */
  --text-base: 1.125rem; /* 18px */
  --line-height-base: 1.75rem; /* 28px */
  --text-md: 1.125rem; /* 18px */
  --line-height-md: 1.75rem; /* 28px */
  --text-lg: 1.25rem; /* 20px */
  --line-height-lg: 2rem; /* 32px */
  --text-xl: 1.5rem; /* 24px */
  --line-height-xl: 2.25rem; /* 36px */
  --text-display-xs: 1.75rem; /* 28px */
  --line-height-display-xs: 2.25rem; /* 36px */
  --text-display-sm: 2.25rem; /* 36px */
  --line-height-display-sm: 2.75rem; /* 44px */
  --text-display-md: 2.625rem; /* 42px */
  --line-height-display-md: 3.125rem; /* 50px */
  --text-display-lg: 3.375rem; /* 54px */
  --line-height-display-lg: 4.125rem; /* 66px */
  --text-display-xl: 4.25rem; /* 68px */
  --line-height-display-xl: 5.125rem; /* 82px */
  --text-display-2xl: 5.25rem; /* 84px */
  --line-height-display-2xl: 6.375rem; /* 102px */
}

[font-size="xl"] {
  --text-xs: 1rem; /* 16px */
  --line-height-xs: 1.5rem; /* 24px */
  --text-sm: 1.125rem; /* 18px */
  --line-height-sm: 1.75rem; /* 28px */
  --text-base: 1.25rem; /* 20px */
  --line-height-base: 2rem; /* 32px */
  --text-md: 1.25rem; /* 20px */
  --line-height-md: 2rem; /* 32px */
  --text-lg: 1.5rem; /* 24px */
  --line-height-lg: 2.25rem; /* 36px */
  --text-xl: 1.75rem; /* 28px */
  --line-height-xl: 2.5rem; /* 40px */
  --text-display-xs: 2rem; /* 32px */
  --line-height-display-xs: 2.5rem; /* 40px */
  --text-display-sm: 2.5rem; /* 40px */
  --line-height-display-sm: 3rem; /* 48px */
  --text-display-md: 2.875rem; /* 46px */
  --line-height-display-md: 3.5rem; /* 56px */
  --text-display-lg: 3.75rem; /* 60px */
  --line-height-display-lg: 4.625rem; /* 74px */
  --text-display-xl: 4.625rem; /* 74px */
  --line-height-display-xl: 5.625rem; /* 90px */
  --text-display-2xl: 5.75rem; /* 92px */
  --line-height-display-2xl: 7.125rem; /* 114px */
}

/* DARK MODE */
[data-theme="dark"] {
  /* TEXT */
  --text-primary: #f5f5f6;
  --text-primary_on-brand: #f5f5f6;
  --text-secondary: #cecfd2;
  --text-secondary_hover: #ececed;
  --text-secondary_on-brand: #cecfd2;
  --text-tertiary: #94969c;
  --text-tertiary_hover: #cecfd2;
  --text-tertiary_on-brand: #94969c;
  --text-quaternary: #94969c;
  --text-quaternary_on-brand: #94969c;
  --text-white: #ffffff;
  --text-disabled: #85888e;
  --text-placeholder: #85888e;
  --text-placeholder_subtle: #333741;
  --text-brand-primary: #f5f5f6;
  --text-brand-secondary: #cecfd2;
  --text-brand-tertiary: #94969c;
  --text-brand-tertiary_alt: #f5f5f6;
  --text-error-primary: #f97066;
  --text-warning-primary: #fdb022;
  --text-success-primary: #47cd89;

  /* BORDER */
  --border-primary: #333741;
  --border-secondary: #1f242f;
  --border-tertiary: #1f242f;
  --border-disabled: #333741;
  --border-disabled_subtle: #1f242f;
  --border-brand: #53b1fd;
  --border-brand_alt: #333741;
  --border-error: #f97066;
  --border-error_subtle: #f97066;
  --border-popup: #1f242f;

  /* FOREGROUND */
  --fg-primary: #ffffff;
  --fg-secondary: #cecfd2;
  --fg-secondary_hover: #ececed;
  --fg-tertiary: #94969c;
  --fg-tertiary_hover: #cecfd2;
  --fg-quaternary: #94969c;
  --fg-quaternary_hover: #cecfd2;
  --fg-quinary: #85888e;
  --fg-quinary_hover: #94969c;
  --fg-senary: #61646c;
  --fg-white: #ffffff;
  --fg-disabled: #85888e;
  --fg-disabled_subtle: #61646c;
  --fg-brand-primary: #2e90fa;
  --fg-brand-primary_alt: #cecfd2;
  --fg-brand-secondary: #2e90fa;
  --fg-error-primary: #f04438;
  --fg-error-secondary: #f97066;
  --fg-warning-primary: #f79009;
  --fg-warning-secondary: #fdb022;
  --fg-success-primary: #17b26a;
  --fg-success-secondary: #47cd89;

  /* BACKGROUND */
  --bg-primary: #0c111d;
  --bg-primary_alt: #161b26;
  --bg-primary_hover: #1f242f;
  --bg-primary-solid: #161b26;
  --bg-secondary: #161b26;
  --bg-secondary_alt: #0c111d;
  --bg-secondary_hover: #1f242f;
  --bg-secondary_subtle: #161b26;
  --bg-secondary-solid: #61646c;
  --bg-tertiary: #1f242f;
  --bg-quaternary: #333741;
  --bg-active: #1f242f;
  --bg-disabled: #1f242f;
  --bg-disabled_subtle: #161b26;
  --bg-overlay: #1f242f;
  --bg-brand-primary: #2e90fa;
  --bg-brand-primary_alt: #161b26;
  --bg-brand-secondary: #1570ef;
  --bg-brand-solid: #1570ef;
  --bg-brand-solid_hover: #2e90fa;
  --bg-brand-section: #161b26;
  --bg-brand-section_subtle: #0c111d;
  --bg-error-primary: #f04438;
  --bg-error-secondary: #d92d20;
  --bg-error-solid: #d92d20;
  --bg-warning-primary: #f79009;
  --bg-warning-secondary: #dc6803;
  --bg-warning-solid: #dc6803;
  --bg-success-primary: #17b26a;
  --bg-success-secondary: #079455;
  --bg-success-solid: #079455;

  /* BUTTON */
  --button-primary-bg: #1570ef;
  --button-primary-bg_hover: #175cd3;
  --button-primary-bg_disabled: #1f242f;
  --button-primary-fg: #ffffff;

  --button-secondary-bg: #161b26;
  --button-secondary-bg_hover: #1f242f;
  --button-secondary-bg_disabled: #0c111d;
  --button-secondary-fg: #cecfd2;
  --button-secondary-border: #333741;

  --button-secondary-color-bg: #161b26;
  --button-secondary-color-bg_hover: #1f242f;
  --button-secondary-color-bg_disabled: #0c111d;
  --button-secondary-color-fg: #cecfd2;
  --button-secondary-color-border: #333741;

  --button-primary-error-bg: #d92d20;
  --button-primary-error-bg_hover: #b42318;
  --button-primary-error-bg_disabled: #1f242f;
  --button-primary-error-fg: #ffffff;

  --button-secondary-error-bg: #55160c;
  --button-secondary-error-bg_hover: #7a271a;
  --button-secondary-error-bg_disabled: #1f242f;
  --button-secondary-error-fg: #fecdca;
  --button-secondary-error-border: #912018;

  --button-tertiary-color-fg: #cecfd2;

  --button-fg_disabled: #85888e;
  --button-border_disabled: #1f242f;
  --button-tertiary-fg: #475467;

  --button-tertiary-fg: #94969c;
  --button-tertiary-fg_hover: #ececed;
  --button-tertiary-bg_hover: #1f242f;

  --button-tertiary-color-fg: #cecfd2;
  --button-tertiary-color-fg_hover: #f0f1f1;
  --button-tertiary-color-bg_hover: #1f242f;

  --button-tertiary-error-fg: #fda29b;
  --button-tertiary-error-fg_hover: #fecdca;
  --button-tertiary-error-bg_hover: #7a271a;

  --button-secondary-success-bg: #0c4a1c;
  --button-secondary-success-bg_hover: #166534;
  --button-secondary-success-bg_disabled: #1f242f;
  --button-secondary-success-fg: #bbf7d0;
  --button-secondary-success-border: #15803d;

  /* ALPHA COLORS */
  --alpha-white-10: rgba(12, 17, 29, 0.1);
  --alpha-white-20: rgba(12, 17, 29, 0.2);
  --alpha-white-30: rgba(12, 17, 29, 0.3);
  --alpha-white-40: rgba(12, 17, 29, 0.4);
  --alpha-white-50: rgba(12, 17, 29, 0.5);
  --alpha-white-60: rgba(12, 17, 29, 0.6);
  --alpha-white-70: rgba(12, 17, 29, 0.7);
  --alpha-white-80: rgba(12, 17, 29, 0.8);
  --alpha-white-90: rgba(12, 17, 29, 0.9);
  --alpha-white-100: rgba(12, 17, 29, 1);
  --alpha-black-10: rgba(255, 255, 255, 0.1);
  --alpha-black-20: rgba(255, 255, 255, 0.2);
  --alpha-black-30: rgba(255, 255, 255, 0.3);
  --alpha-black-40: rgba(255, 255, 255, 0.4);
  --alpha-black-50: rgba(255, 255, 255, 0.5);
  --alpha-black-60: rgba(255, 255, 255, 0.6);
  --alpha-black-70: rgba(255, 255, 255, 0.7);
  --alpha-black-80: rgba(255, 255, 255, 0.8);
  --alpha-black-90: rgba(255, 255, 255, 0.9);
  --alpha-black-100: rgba(255, 255, 255, 1);

  /* UTILITY COLORS */
  --utility-gray-50: #161b26;
  --utility-gray-100: #1f242f;
  --utility-gray-200: #333741;
  --utility-gray-300: #333741;
  --utility-gray-400: #61646c;
  --utility-gray-500: #85888e;
  --utility-gray-600: #94969c;
  --utility-gray-700: #cecfd2;
  --utility-gray-800: #ececed;
  --utility-gray-900: #f0f1f1;

  --utility-brand-50: #102a56;
  --utility-brand-50_alt: #161b26;
  --utility-brand-100: #194185;
  --utility-brand-100_alt: #1f242f;
  --utility-brand-200: #1849a9;
  --utility-brand-200_alt: #333741;
  --utility-brand-300: #175cd3;
  --utility-brand-300_alt: #333741;
  --utility-brand-400: #1570ef;
  --utility-brand-400_alt: #61646c;
  --utility-brand-500: #2e90fa;
  --utility-brand-500_alt: #85888e;
  --utility-brand-600: #53b1fd;
  --utility-brand-600_alt: #94969c;
  --utility-brand-700: #84caff;
  --utility-brand-700_alt: #cecfd2;
  --utility-brand-800: #b2ddff;
  --utility-brand-800_alt: #ececed;
  --utility-brand-900: #d1e9ff;
  --utility-brand-900_alt: #f0f1f1;

  --utility-error-50: #55160c;
  --utility-error-100: #7a271a;
  --utility-error-200: #912018;
  --utility-error-300: #b42318;
  --utility-error-400: #d92d20;
  --utility-error-500: #f04438;
  --utility-error-600: #f97066;
  --utility-error-700: #fda29b;
  --utility-error: #f04438;

  --utility-warning-50: #4e1d09;
  --utility-warning-100: #7a2e0e;
  --utility-warning-200: #93370d;
  --utility-warning-300: #b54708;
  --utility-warning-400: #dc6803;
  --utility-warning-500: #f79009;
  --utility-warning-600: #fdb022;
  --utility-warning-700: #fec84b;

  --utility-success-50: #053321;
  --utility-success-100: #074d31;
  --utility-success-200: #085d3a;
  --utility-success-300: #067647;
  --utility-success-400: #079455;
  --utility-success-500: #17b26a;
  --utility-success-600: #47cd89;
  --utility-success-700: #75e0a7;

  --utility-gray-blue-50: #101323;
  --utility-gray-blue-100: #101323;
  --utility-gray-blue-200: #293056;
  --utility-gray-blue-300: #363f72;
  --utility-gray-blue-400: #3e4784;
  --utility-gray-blue-500: #4e5ba6;
  --utility-gray-blue-600: #717bbc;
  --utility-gray-blue-700: #b3b8db;

  --utility-blue-light-50: #062c41;
  --utility-blue-light-100: #062c41;
  --utility-blue-light-200: #065986;
  --utility-blue-light-300: #026aa2;
  --utility-blue-light-400: #0086c9;
  --utility-blue-light-500: #0ba5ec;
  --utility-blue-light-600: #36bffa;
  --utility-blue-light-700: #7cd4fd;

  --utility-blue-50: #102a56;
  --utility-blue-100: #194185;
  --utility-blue-200: #1849a9;
  --utility-blue-300: #175cd3;
  --utility-blue-400: #1570ef;
  --utility-blue-500: #2e90fa;
  --utility-blue-600: #53b1fd;
  --utility-blue-700: #84caff;

  --utility-blue-dark-50: #002266;
  --utility-blue-dark-100: #00359e;
  --utility-blue-dark-200: #0040c1;
  --utility-blue-dark-300: #004eeb;
  --utility-blue-dark-400: #155eef;
  --utility-blue-dark-500: #2970ff;
  --utility-blue-dark-600: #528bff;
  --utility-blue-dark-700: #84adff;

  --utility-indigo-50: #1f235b;
  --utility-indigo-100: #2d3282;
  --utility-indigo-200: #2d31a6;
  --utility-indigo-300: #3538cd;
  --utility-indigo-400: #444ce7;
  --utility-indigo-500: #6172f3;
  --utility-indigo-600: #8098f9;
  --utility-indigo-700: #a4bcfd;

  --utility-purple-50: #27115f;
  --utility-purple-100: #27115f;
  --utility-purple-200: #4a1fb8;
  --utility-purple-300: #5925dc;
  --utility-purple-400: #6938ef;
  --utility-purple-500: #7a5af8;
  --utility-purple-600: #9b8afb;
  --utility-purple-700: #bdb4fe;

  --utility-fuchsia-50: #47104c;
  --utility-fuchsia-100: #6f1877;
  --utility-fuchsia-200: #821890;
  --utility-fuchsia-300: #9f1ab1;
  --utility-fuchsia-400: #ba24d5;
  --utility-fuchsia-500: #d444f1;
  --utility-fuchsia-600: #e478fa;
  --utility-fuchsia-700: #eeaafd;

  --utility-pink-50: #4e0d30;
  --utility-pink-100: #851651;
  --utility-pink-200: #851651;
  --utility-pink-300: #c11574;
  --utility-pink-400: #dd2590;
  --utility-pink-500: #ee46bc;
  --utility-pink-600: #f670c7;
  --utility-pink-700: #faa7e0;

  --utility-orange-dark-50: #57130a;
  --utility-orange-dark-100: #771a0d;
  --utility-orange-dark-200: #97180c;
  --utility-orange-dark-300: #bc1b06;
  --utility-orange-dark-400: #e62e05;
  --utility-orange-dark-500: #ff4405;
  --utility-orange-dark-600: #ff692e;
  --utility-orange-dark-700: #ff9c66;

  --utility-orange-50: #511c10;
  --utility-orange-100: #772917;
  --utility-orange-200: #932f19;
  --utility-orange-300: #b93815;
  --utility-orange-400: #e04f16;
  --utility-orange-500: #ef6820;
  --utility-orange-600: #f38744;
  --utility-orange-700: #f7b27a;
}
