.file-uploader.ant-upload-wrapper .ant-upload-drag {
  background: none;
  overflow: hidden;
}

.file-uploader.ant-upload-wrapper .ant-upload-drag .ant-upload {
  padding: 0;
}

.compact-file-uploader.ant-upload-wrapper .ant-upload-drag {
  background: none;
  overflow: hidden;
  border: 0;
}

.compact-file-uploader.ant-upload-wrapper .ant-upload-drag .ant-upload {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.custom-label-width .ant-col .ant-form-item-required {
  width: 100%;
}

.image-uploader {
  width: 100%;
  min-height: 400px;
}

.image-uploader .ant-upload-list-picture-card {
  min-height: 400px;
}

.image-uploader .ant-upload-list-picture-card .ant-upload.ant-upload-select {
  width: 100%;
  min-height: 400px;
}

.image-uploader .ant-upload-list-picture-card {
  width: 100%;
}

.image-uploader.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item-container {
  width: 100%;
  height: 400px;
}
